/* 
:root {
  --text-color: #000;
  --background-color: #fff;
  --section-title-bg: #0c4a6e;
  --card-bg: #f9fafb;
  --nav-link-bg: #e0f2fe;
  --button-bg: #0284c7;
  --border-color: #333;
}

[data-theme='dark'] {
  --text-color: #f1f5f9;
  --background-color: #0f172a;
  --section-title-bg: #1e293b;
  --card-bg: #1e293b;
  --nav-link-bg: #334155;
  --button-bg: #2563eb;
  --border-color: #555;
}


body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: background 0.3s, color 0.3s;
}


* {
  transition: background 0.3s, color 0.3s, border-color 0.3s;
} */
